<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Admin - Empresas</title>
</head>
<body>

<h2>Cadastrar nova empresa</h2>
 <form method="POST">

    <label>Nome da Empresa:</label>
    <input type="text" name="nome" required>

    <label>Quantidade de convidados:</label>
    <input type="number" name="limite_respostas" min="1" required>

    <button type="submit">Criar Empresa</button>

</form>
        <label>Limite máximo de respostas:</label>
        <input type="number" name="limite_respostas" required>

    </form>

    <hr>

    <h3>Empresas cadastradas</h3>

    {% if empresas %}
        <ul>
        {% for empresa in empresas %}
            <li>
                <strong>{{ empresa["nome"] }}</strong><br><br>

                <!-- AQUI abre o questionário -->
               <a href="{{ url_for('questionario', empresa_id=empresa['id']) }}">
                    📝 Aplicar Questionário
                </a>

                <br><br>
                <!-- AQUI abre o dashboard -->
                <a href="{{ url_for('dashboard', empresa_id=empresa['id']) }}">
                    📊 Ver Dashboard
                </a>

            </li>
            <hr>
        {% endfor %}
        </ul>
    {% else %}
        <p>Nenhuma empresa cadastrada ainda.</p>
    {% endif %}

</body>
</html>
